thead th {
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.sorted {
  background-color: rgba(#000, .075);
  font-weight: bold;
}

a {
  color: #e9ecef;
}

img {
  padding-right: 2px;
}
