<div class="container-fluid">
  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col" [class.sorted]="model.sortColumn === 'rank'" (click)="sort('rank')">
        Rank
        <i class="fa"
           [class.fa-sort]="model.sortColumn !== 'rank'"
           [class.fa-sort-desc]="model.sortColumn === 'rank' && model.sortOrder === 'desc'"
           [class.fa-sort-asc]="model.sortColumn === 'rank' && model.sortOrder === 'asc'"></i>
      </th>
      <th scope="col" [class.sorted]="model.sortColumn === 'name'" (click)="sort('name')">
        Name
        <i class="fa"
           [class.fa-sort]="model.sortColumn !== 'name'"
           [class.fa-sort-desc]="model.sortColumn === 'name' && model.sortOrder === 'desc'"
           [class.fa-sort-asc]="model.sortColumn === 'name' && model.sortOrder === 'asc'"></i>
      </th>
      <th scope="col" [class.sorted]="model.sortColumn === 'price'" class="text-right" (click)="sort('price')">
        Price
        <i class="fa"
           [class.fa-sort]="model.sortColumn !== 'price'"
           [class.fa-sort-desc]="model.sortColumn === 'price' && model.sortOrder === 'desc'"
           [class.fa-sort-asc]="model.sortColumn === 'price' && model.sortOrder === 'asc'"></i>
      </th>
      <th scope="col"
          [class.sorted]="model.sortColumn === 'oneDayDiff'"
          class="text-right"
          (click)="sort('oneDayDiff')">
        1d
        <i class="fa"
           [class.fa-sort]="model.sortColumn !== 'oneDayDiff'"
           [class.fa-sort-desc]="model.sortColumn === 'oneDayDiff' && model.sortOrder === 'desc'"
           [class.fa-sort-asc]="model.sortColumn === 'oneDayDiff' && model.sortOrder === 'asc'"></i>
      </th>
      <th scope="col"
          class="d-md-none d-lg-table-cell text-right"
          [class.sorted]="model.sortColumn === 'threeDayDiff'"
          (click)="sort('threeDayDiff')">
        3d
        <i class="fa"
           [class.fa-sort]="model.sortColumn !== 'threeDayDiff'"
           [class.fa-sort-desc]="model.sortColumn === 'threeDayDiff' && model.sortOrder === 'desc'"
           [class.fa-sort-asc]="model.sortColumn === 'threeDayDiff' && model.sortOrder === 'asc'"></i>
      </th>
      <th scope="col"
          class="text-right"
          [class.sorted]="model.sortColumn === 'oneWeekDiff'"
          (click)="sort('oneWeekDiff')">
        1w
        <i class="fa"
           [class.fa-sort]="model.sortColumn !== 'oneWeekDiff'"
           [class.fa-sort-desc]="model.sortColumn === 'oneWeekDiff' && model.sortOrder === 'desc'"
           [class.fa-sort-asc]="model.sortColumn === 'oneWeekDiff' && model.sortOrder === 'asc'"></i>
      </th>
      <th scope="col"
          class="text-right"
          [class.sorted]="model.sortColumn === 'oneMonthDiff'"
          (click)="sort('oneMonthDiff')">
        1m
        <i class="fa"
           [class.fa-sort]="model.sortColumn !== 'oneMonthDiff'"
           [class.fa-sort-desc]="model.sortColumn === 'oneMonthDiff' && model.sortOrder === 'desc'"
           [class.fa-sort-asc]="model.sortColumn === 'oneMonthDiff' && model.sortOrder === 'asc'"></i>
      </th>
      <th scope="col"
          class="d-md-none d-lg-table-cell text-right"
          [class.sorted]="model.sortColumn === 'threeMonthDiff'"
          (click)="sort('threeMonthDiff')">
        3m
        <i class="fa"
           [class.fa-sort]="model.sortColumn !== 'threeMonthDiff'"
           [class.fa-sort-desc]="model.sortColumn === 'threeMonthDiff' && model.sortOrder === 'desc'"
           [class.fa-sort-asc]="model.sortColumn === 'threeMonthDiff' && model.sortOrder === 'asc'"></i>
      </th>
      <th scope="col"
          class="text-right"
          [class.sorted]="model.sortColumn === 'oneYearDiff'"
          (click)="sort('oneYearDiff')">
        1y
        <i class="fa"
           [class.fa-sort]="model.sortColumn !== 'oneYearDiff'"
           [class.fa-sort-desc]="model.sortColumn === 'oneYearDiff' && model.sortOrder === 'desc'"
           [class.fa-sort-asc]="model.sortColumn === 'oneYearDiff' && model.sortOrder === 'asc'"></i>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let crypto of model.cryptos">
      <td [class.sorted]="model.sortColumn === 'rank'">
        {{crypto.rank}}
      </td>
      <td [class.sorted]="model.sortColumn === 'name'">
        <a href="https://coinmarketcap.com/currencies/{{crypto.id}}/" target="_blank">
          <span class="d-inline d-lg-none">{{crypto.symbol}}</span>
          <span class="d-md-none d-lg-inline">{{crypto.name}} ({{crypto.symbol}})</span>
        </a>
      </td>
      <td class="text-right" [class.sorted]="model.sortColumn === 'price'">
        <span *ngIf="model.unit ==='btc'">{{crypto.price | number:'1.8-8'}}</span>
        <span *ngIf="model.unit ==='usd'">{{crypto.price | currency:'USD':'symbol':'1.2-8'}}</span>
      </td>
      <td class="text-right" [class.sorted]="model.sortColumn === 'oneDayDiff'">
        <app-diff [diff]="crypto.oneDayDiff"></app-diff>
      </td>
      <td class="d-md-none d-lg-table-cell text-right" [class.sorted]="model.sortColumn === 'threeDayDiff'">
        <app-diff [diff]="crypto.threeDayDiff"></app-diff>
      </td>
      <td class="text-right" [class.sorted]="model.sortColumn === 'oneWeekDiff'">
        <app-diff [diff]="crypto.oneWeekDiff"></app-diff>
      </td>
      <td class="text-right" [class.sorted]="model.sortColumn === 'oneMonthDiff'">
        <app-diff [diff]="crypto.oneMonthDiff"></app-diff>
      </td>
      <td class="d-md-none d-lg-table-cell text-right" [class.sorted]="model.sortColumn === 'threeMonthDiff'">
        <app-diff [diff]="crypto.threeMonthDiff"></app-diff>
      </td>
      <td class="text-right" [class.sorted]="model.sortColumn === 'oneYearDiff'">
        <app-diff [diff]="crypto.oneYearDiff"></app-diff>
      </td>
    </tr>
    <tr>
    </tbody>
  </table>
</div>
