thead th {
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.sorted {
  background-color: rgba(#000, .075);
  font-weight: bold;
}

.positive {
  color: #90EE90;
}

.negative {
  color: #F08080;
}

a {
  color: #e9ecef;
}
